.contact {
    flex: 1;
}

.contact .hero {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.contact .hero h1 {
    color: #fff;
}

.contact .hero p {
    color: #fff;
}

.contact .contact-form {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 600px;
    margin: 40px auto;
    padding: 40px;
    gap: 10px;
}

.contact .contact-form input,
textarea {
    padding: 8px;
}

.contact .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 30px 0;
}

.contact .contact-form button:hover {
    background-color: #666;
}

.contact .contact-form button:active {
    background-color: #999;
}

.contact .error-message {
    color: #f00;
    font-size: 0.8rem;
}