.home {
    flex: 1;
}

.home .hero {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.home .hero h1 {
    color: #fff;
}

.home .hero p {
    color: #fff;
}

.home .services {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 10px;
}

.home .service {
    background-color: #aaa;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .service h2 {
    color: #fff;
    font-size: 1.2rem;
}

.home .service p {
    color: #fff;
    font-size: 1.0rem;
}

@media (max-width:800px) {
    .home .services {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .home .service {
        height: 100px;
        width: 80%;
    }
}